*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #2b0e92;
    border-radius: 10px;
    background-color: #e2e2e2;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.paragraph{
    align-self: flex-start;
}

.format {
    vertical-align: top;
    display: inline-block;
}

.text-center {
    text-align: center;
    width: 100%;
}

.text-left {
    text-align: left;
    width: 100%;
}

.winner-entry {
    margin-bottom: 1em;
}

/* Vai remover o espaço de 1em no final do último parágrafo */
.winner-entry:last-child {
    margin-bottom: 0;
}

.label {
    display: inline-block;
    width: 70px;
}

.value {
    display: inline-block;
    width: 200px;
}

.table-box {
    width: 100%;
    border: 1px solid #2b0e92;
    border-collapse: separate;
    border-radius: 5px;
    overflow: hidden;
}

.column{
    padding: 8px;
    text-align: center;
    border: 1px solid #2b0e92;
    background-color: #e2e2e2;
    min-width: 100px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}