* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #2b0e92;
    border-radius: 10px;
    background-color: #e2e2e2;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    width: 410px;
}

.title {
    font-size: 1.8em;
    font-weight: bold;
    margin: 0 0 15px;
}

.paragraph {
    font-size: 1.1em;
    line-height: 1.5;
    color: #333;
    text-align: left;
    margin-bottom: 20px;
}

.spaced-line {
    display: block;
    margin: 5px 0;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button {
    padding: 10px 20px;
    border: 1px solid #2b0e92;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    box-shadow: inset -3px -3px 5px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s ease;
}

.button:active {
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.link {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}